AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=frontierweek-hrapp-test-rg
AZURE_STATIC_WEB_APP_NAME=frontierweek-hrapp-test
AZURE_LOCATION=swedencentral
AZURE_STATIC_WEB_APP_SKU=Free

AZURE_BACKEND_RESOURCE_GROUP=frontierweek-hrapp-test-rg
AZURE_APP_SERVICE_PLAN_NAME=frontierweek-hrapp-test-plan
AZURE_BACKEND_APP_NAME=frontierweek-hrapp-test-api
AZURE_APP_SERVICE_SKU=F1
